<!DOCTYPE html>
<html lang="en">
<head>
    <title>Platform 17</title>

    <LINK REL=StyleSheet HREF="../../static/terminal/css/terminal.css" TYPE="text/css" MEDIA=screen>
    
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">google.load("jquery", "1.3.2");</script>

    <script type = "text/javascript" src = "../../static/terminal/js/keypress-2.1.4.min.js" ></script>
 
    <script type = "text/javascript" src = "../../static/terminal/js/terminal.js"></script>

    <script type = "text/javascript" src = "../../static/terminal/js/top_commands.js"></script>

    <script type = "text/javascript" src = "../../static/terminal/js/global_commands.js"></script>

</head>
<body>
    <div id="terminal" >
        <div id = "terminal-output">
        {{ page.description|safe }}
      </div>
    
    <form method = "get" id = "input-form" autocomplete="off">
        <br />>&nbsp;<input type = "text" name ="input-text" id = "input-text"><br>
    </form>
    </div>

</body>
</html>